.filter-box{
    display: flex;
    /* flex-direction: column; */
    border: 1px solid black;
    justify-content: flex-start;
    border-radius: 1rem;
    position: sticky;
    
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    font-weight: bold;
    font-size: x-large;
    width: 10%;
    background-color: azure;
}

.contents{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* border:1px solid black; */
    width: auto;
}


.clear-filters{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: underline;
}

.status{
    width: 33.3%;
}

.menu{
    display: flex;
    margin: 0 auto;
    position: relative;
    width: 100%;

}

.menu>li>button{
    background: blue;
    color: #fff;
    display: flex;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.menu>li{
    list-style: none;
}

.menu ul{
    background: #ddd;
    height: 0;
    left: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    /* position: absolute; */
    transition: all .5s ease;
    top: 35px;
    list-style: none;

    width: 100%;
}

.menu li:hover ul {
    height: 200px;
    margin-right: 20px;
    opacity: 1;
    transform: translateY(0);
  }

  .menu ul button {
    color: #000;
    display: block;
    /* padding: 5px 20px; */
  }

  .species{
    display: flex;
    margin: 0 auto;
    position: relative;
    width: 50%;

  }

  .species>li>button{
    background: blue;
    color: #fff;
    display: flex;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.species>li{
    list-style: none;
}

.species ul{
    background: #ddd;
    height: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* position: absolute; */
    transition: all .5s ease;
    top: 35px;
    list-style: none;

    width: 100%;
}

.species li:hover ul {
    height: 250px;
    margin-right: 20px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .species:hover{
    width: 100%;
  }
  .species ul button {
    color: #000;
    display: block;
    /* padding: 5px 20px; */
  }
